<h1 class="text-3xl mb-4">General Terms and Conditions</h1>

<div class="max-w-prose text-justify mx-auto">
  <p class="mb-4">
  These General Terms and Conditions ("Agreement") apply to all purchases made through the GradeShop website ("Website"). By making a purchase on the Website, you agree to be bound by this Agreement.
  </p>
  <ol class="list-decimal ml-4 space-y-2">
    <li><span class="font-semibold">Disclaimer of Responsibility:</span> <br>The GradeShop shall not be responsible for any purchases made through the Website. Any transactions made through the Website are at your own risk, and the GradeShop shall not be liable for any loss or damage resulting from such transactions.</li>
    <li><span class="font-semibold">Notification of Violations:</span> <br>The GradeShop reserves the right to notify the Academic Department of any violations made through the Website. As a result, you may be subject to disciplinary action, up to and including expulsion from the university.</li>
    <li><span class="font-semibold">No Refunds:</span> <br>All purchases made through the Website are final and non-refundable. No refunds shall be given for any reason, including but not limited to dissatisfaction with the product or service, or technical issues.</li>
    <li><span class="font-semibold">Use of Website:</span> <br>By using the Website, you agree to comply with all applicable laws and regulations. You agree not to use the Website for any illegal or unauthorized purpose.</li>
    <li><span class="font-semibold">Modification of Agreement:</span> <br>The GradeShop reserves the right to modify this Agreement at any time. Any modifications will be effective immediately upon posting on the Website. Your continued use of the Website after any modifications to this Agreement indicates your acceptance of the modified Agreement.</li>
    <li><span class="font-semibold">Privacy Policy:</span> <br>The GradeShop collects personal information for the purpose of processing your purchase. The GradeShop will not share your personal information with any third parties.</li>
  </ol>
</div>