<div class="flex flex-col xl:flex-row space-y-4 space-x-8 w-full">
  <img [src]="imgSrc" class="w-96 h-96 bg-white rounded-full" alt="Product image">
  <div class="flex flex-col space-y-4 w-full">
    <div class="flex flex-row justify-between">
      <div>
        <label for="name" class="block mb-2 text-sm font-medium text-white">Course Name</label>
        <input type="text" id="name" (input)="onNameChange($event)" [(ngModel)]="course.name" placeholder="Course Name"
          class="border text-3xl rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          required>
      </div>
      <div class="flex flex-row space-x-2">
        <a>
          <button (click)="deleteCourse()"
            class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded w-max flex flex-row space-x-2">
            <span>Delete</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd"
                d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </a>
        <a>
          <button (click)="saveCourse()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-max flex flex-row space-x-2">
            <span>Save</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
              <path fill-rule="evenodd"
                d="M19.916 4.626a.75.75 0 01.208 1.04l-9 13.5a.75.75 0 01-1.154.114l-6-6a.75.75 0 011.06-1.06l5.353 5.353 8.493-12.739a.75.75 0 011.04-.208z"
                clip-rule="evenodd" />
            </svg>
          </button>
        </a>
      </div>
    </div>
    <div class="w-full">
      <label for="description" class="block mb-2 text-sm font-medium text-white">Description</label>
      <textarea rows="10" id="description" (input)="onDescriptionChange($event)" [(ngModel)]="course.description"
        placeholder="Description"
        class="border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
        required> </textarea>
    </div>
    <p class="text-gray-300">Course ID: {{course._id}}</p>
    <div class="flex flex-row space-x-4 w-full justify-end">
      <div>
        <label for="price" class="block mb-2 text-sm font-medium text-white">Price</label>
        <input type="number" id="price" (input)="onPriceChange($event)" [(ngModel)]="course.price" placeholder="Price"
          class="border rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500"
          required>
      </div>
    </div>
  </div>
</div>