<header
  class="border-b backdrop-blur-sm bg-white/90 dark:bg-gray-900/70 dark:border-gray-700 xl:fixed xl:w-full xl:top-0 xl:left-0 xl:z-30">
  <div
    class="container px-4 py-5 mx-auto space-y-4 xl:space-y-0 xl:flex xl:items-center xl:justify-between xl:space-x-10">
    <div class="flex justify-between">
      <a routerLink="/" class="text-gray-800 dark:text-gray-200">
        <div class="flex items-center">
          <img src="assets/logo.svg" class="flex-shrink-0 h-5 2xl:h-7 2xl:w-7" alt="GradeShop logo">
          <p class="ml-2 text-lg 2xl:text-xl">
            Grade<strong>Shop</strong>
          </p>
        </div>
      </a>
      <div class="flex items-center space-x-2 xl:hidden">
        <button
          class="p-1 rounded-md hover:bg-gray-100 dark:hover:bg-gray-800 focus:bg-gray-100 dark:focus:bg-gray-800 focus:outline-none">
          <svg viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 text-gray-700 dark:text-gray-300">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="xl:flex xl:flex-row xl:items-center xl:justify-between xl:flex-1 xl:space-x-2">
      <div class="flex flex-col space-y-3 xl:space-y-0 xl:flex-row xl:space-x-8 xl:items-center">
        <a routerLink="/"
          class="text-gray-500 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-400 transition-colors duration-300 2xl:text-base xl:text-sm">
          Home</a>
        <a routerLink="/courses"
          class="text-gray-500 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-400 transition-colors duration-300 2xl:text-base xl:text-sm">
          Courses</a>
        <a routerLink="/orders"
          class="text-gray-500 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-400 transition-colors duration-300 2xl:text-base xl:text-sm">
          Orders</a>
        <a routerLink="/users"
          class="text-gray-500 dark:text-gray-200 hover:text-gray-800 dark:hover:text-gray-400 transition-colors duration-300 2xl:text-base xl:text-sm">
          Users</a>

      </div>
      <div class="flex space-y-0 justify-end xl:justify-start flex-row items-center space-x-3 mt-2 xl:mt-0">
        <a routerLink="/auth/signout"
          class="flex items-center justify-center h-12 px-4 text-sm text-center text-gray-600 transition-colors duration-300 transform border rounded-lg xl:h-10 dark:text-gray-300 dark:border-gray-300 bg-white/90 dark:bg-gray-900/70 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
          Sign Out
        </a>

        <img [src]="avatarSrc"
          class="w-10 h-10 p-0.5 rounded-full ring-2 ring-purple-500 dark:ring-purple-500 hover:-rotate-180 hover:invert hover:scale-150 duration-300 bg-white"
          alt="Bordered avatar">

      </div>
    </div>
  </div>
</header>

<div class="pt-24 container mx-auto">
  <router-outlet></router-outlet>
</div>

<footer class="rounded-lg shadow m-4 bg-gray-800 container mx-auto">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <a routerLink="/" class="text-gray-800 dark:text-gray-200">
      <div class="flex items-center">
        <img src="assets/logo.svg" class="flex-shrink-0 h-5 2xl:h-7 2xl:w-7" alt="GradeShop logo">
        <p class="ml-2 text-lg 2xl:text-xl">
          Grade<strong>Shop</strong>
        </p>
      </div>
    </a> <span>All Rights Reserved.</span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a routerLink="/terms" class="mr-4 hover:underline md:mr-6 ">Terms and Conditions</a>
      </li>
    </ul>
  </div>
</footer>